@import url(https://fonts.googleapis.com/css?family=Life+Savers:400,700);

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: 'Life Savers', cursive;
	font-weight: 400;
	color: #000;
	font-size: 20px;
	line-height: 1.5em;
}
h1 {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    position: relative;
    padding: .5em;
    margin: auto;
    letter-spacing: 0.15em;
    text-align: center;
}

h2 {
    font-family: 'Life Savers', cursive;
    font-weight: 900;
    font-style: italic;
    padding: .5em;
    margin: auto;
    font-size: 2.5em;
    color: #000;
    letter-spacing: .1em;
    text-align: center;
}

p {
    font-size: .9em;
    letter-spacing: -.025em;
}

figure {
    width: 28%;
    margin: 0.76em;
    border: .01em black solid;
    padding: .5em;
    float: left;
    position: relative;
}
	
figure img {
	display: block;
    width: 100%;
    height: 100%;
} 

figcaption {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 2%;
    font-height: 150%;
    font-weight: 400;
    text-align: center;
    display: none;
    z-index: 3;
}

figure:hover > figcaption{
	display: block;
	font-size: 2em;
}

footer 	{
	padding: 1em;
	color: #000;
	font-family: 'Josefin', sans-serif;
	font-size: .75em;
	font-weight:400;
	text-align:center;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.clearfix:after{
	height: 0;
	font-size:0;
	visibility: hidden;
	display: block;
	content:" ";
	clear: both;
}

.imgContainer:hover img{
	opacity: 0.4;
}

#figure-wrap {
    padding: 1% 0% 1% 9%;
    position: relative;
}
